/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/
.shop {
  position: relative;
  margin: 0 -20px -20px 0; }
  @media (max-width: 991.98px) {
    .shop {
      margin: 0 -20px -20px 0; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .shop:not(.product-1) {
      margin: 0 -12px -12px 0; } }
  @media (max-width: 575.98px) {
    .shop:not(.product-1) {
      margin: 0; } }
  .shop .product {
    position: relative;
    float: left;
    padding: 0 20px 20px 0;
    width: 25%; }
    @media (max-width: 991.98px) {
      .shop .product {
        width: 33.33333%;
        padding: 0 20px 20px 0; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      :not(.product-1).shop .product {
        width: 50%;
        padding: 0 12px 12px 0; } }
    @media (max-width: 575.98px) {
      :not(.product-1).shop .product {
        margin: 0 0 20px 0;
        padding: 0;
        width: 100%; } }

.product {
  position: relative; }

.product-image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }
  .product-image > a,
  .product-image .slide a,
  .product-image img {
    display: block;
    width: 100%;
    height: 100%; }

body:not(.device-touch):not(.device-sm):not(.device-xs) .product-image > a {
  transition: all 0.5s ease; }
  @media (prefers-reduced-motion: reduce) {
    body:not(.device-touch):not(.device-sm):not(.device-xs) .product-image > a {
      transition: none; } }

.product-image > a:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; }

.product-image:hover > a:nth-of-type(2) {
  opacity: 1;
  z-index: 2; }

.product-desc {
  padding: 15px 0;
  font-size: 14px; }

.product-title {
  margin-bottom: 7px; }
  .product-title h3 {
    margin: 0;
    font-size: 20px; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .product-title h3 {
        font-size: 18px; } }
    @media (max-width: 991.98px) {
      .shop:not(.product-2):not(.product-3) .product-title h3 {
        font-size: 18px; } }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .shop:not(.product-1) .product-title h3 {
        font-size: 17px; } }
    @media (max-width: 575.98px) {
      .shop:not(.product-1) .product-title h3 {
        font-size: 19px; } }

.product-title h3 a,
.single-product .product-title h2 a {
  color: #333; }
  .dark .product-title h3 a, .dark
  .single-product .product-title h2 a {
    color: #eeeeee; }
  .product-title h3 a:hover,
  .single-product .product-title h2 a:hover {
    color: #1ABC9C; }
    .dark .product-title h3 a:hover, .dark
    .single-product .product-title h2 a:hover {
      color: #bbbbbb; }

.product-price {
  font-size: 18px;
  font-weight: 700;
  color: #444;
  margin-bottom: 4px; }
  .dark .product-price {
    color: #bbbbbb; }
  .product-price del {
    font-weight: 400;
    font-size: 90%;
    color: #888; }
  .product-price ins {
    text-decoration: none;
    color: #1ABC9C; }

.product-overlay {
  position: absolute;
  width: 100%;
  height: 44px;
  line-height: 44px;
  top: auto;
  bottom: -44px;
  left: 0;
  z-index: 6; }
  .product-overlay a {
    display: block;
    float: left;
    width: 50%;
    font-size: 13px;
    color: #333;
    background-color: whitesmoke;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .dark .product-overlay a {
      color: #eeeeee;
      background-color: rgba(0, 0, 0, 0.8);
      border-right-color: rgba(255, 255, 255, 0.15); }
      .dark .product-overlay a:last-child {
        border-right: 0; }
    .product-overlay a.item-quick-view {
      border-right: 0; }
    .product-overlay a i {
      position: relative;
      top: 1px;
      font-size: 14px;
      margin-right: 3px; }
    .product-overlay a:hover {
      background-color: #333;
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
      .dark .product-overlay a:hover {
        background-color: rgba(0, 0, 0, 0.9); }

body:not(.device-touch):not(.device-sm):not(.device-xs) .product-overlay {
  transition: bottom 0.3s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    body:not(.device-touch):not(.device-sm):not(.device-xs) .product-overlay {
      transition: none; } }
  body:not(.device-touch):not(.device-sm):not(.device-xs) .product-overlay a {
    transition: all 0.3s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      body:not(.device-touch):not(.device-sm):not(.device-xs) .product-overlay a {
        transition: none; } }

.product:hover .product-overlay {
  bottom: 0; }

.sale-flash {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  background-color: #1ABC9C;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 5; }
  .sale-flash.out-of-stock {
    background-color: #777; }

/* Shop - 3 Columns
-----------------------------------------------------------------*/
.shop.product-3 {
  margin: 0 -30px -30px 0; }
  @media (max-width: 991.98px) {
    .shop.product-3 {
      margin: 0 -30px -30px 0; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .shop.product-3 {
      margin: 0 -12px -12px 0; } }

.product-3 .product {
  padding: 0 30px 30px 0;
  width: 33.33333333%; }
  @media (max-width: 991.98px) {
    .product-3 .product {
      width: 33.33333%;
      padding: 0 30px 30px 0; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .product-3 .product {
      width: 50%;
      padding: 0 12px 12px 0; } }

/* Shop - 3 Columns - Sidebar
-----------------------------------------------------------------*/
.postcontent .shop.product-3 {
  margin: 0 -25px -25px 0; }

.postcontent .product-3 .product {
  padding: 0 25px 25px 0; }

/* Shop - 2 Columns - Sidebar
-----------------------------------------------------------------*/
.postcontent .shop.product-2 {
  margin: 0 -40px -40px 0; }

.postcontent .product-2 .product {
  padding: 0 40px 40px 0;
  width: 50%; }

/* Shop - 2 Columns - Both Sidebar
-----------------------------------------------------------------*/
.bothsidebar .shop.product-2 {
  margin: 0 -40px -20px 0; }

.bothsidebar .product-2 .product {
  padding: 0 40px 20px 0; }

/* Shop - 1 Column
-----------------------------------------------------------------*/
.shop.product-1 {
  margin: 0 0 -40px 0; }

.product-1 .product {
  float: none;
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%; }
  @media (max-width: 767.98px) {
    .product-1 .product {
      width: 100%; } }
  .product-1 .product.alt .product-image {
    float: right;
    margin: 0 0 0 30px; }

.product-1 .product-image {
  float: left;
  width: 300px;
  height: 400px;
  margin-right: 30px; }
  @media (max-width: 767.98px) {
    .product-1 .product-image {
      float: none !important;
      width: 100% !important;
      height: auto !important;
      margin: 0 0 20px !important; } }

.product-1 .product-desc {
  padding: 0;
  position: relative;
  overflow: hidden; }
  .product-1 .product-desc .product-price {
    font-size: 20px; }
  .product-1 .product-desc .product-rating {
    margin-bottom: 15px; }

.product-1 .product-title h3 {
  font-size: 22px; }
  @media (max-width: 767.98px) {
    .product-1 .product-title h3 {
      font-size: 19px; } }

@media (max-width: 767.98px) {
  .product-1 .product-title p {
    display: none; } }

/* Shop - 1 Column - Both Sidebar
-----------------------------------------------------------------*/
.bothsidebar .product-1 .product {
  border-top: 1px solid whitesmoke;
  padding-top: 40px; }
  .dark .bothsidebar .product-1 .product {
    border-top-color: rgba(255, 255, 255, 0.08); }
  .bothsidebar .product-1 .product:first-child {
    border-top: 0;
    padding-top: 0; }

.bothsidebar .product-1 .product-image {
  width: 240px;
  height: 320px; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .bothsidebar .product-1 .product-image {
      width: 200px;
      height: 267px; } }

.bothsidebar .product-1 .product-title h3 {
  font-size: 20px; }

.bothsidebar .product-1 .product-desc .product-price {
  font-size: 16px; }

/* Shop - Single
-----------------------------------------------------------------*/
.single-product .product {
  width: 100%;
  margin: 0; }

.single-product .product-desc {
  padding: 0; }
  .single-product .product-desc .line {
    margin: 20px 0; }

.single-product .product-title h2 {
  font-size: 28px;
  margin-bottom: 8px; }

.single-product .product-price {
  float: left;
  font-size: 24px;
  color: #1ABC9C;
  margin-bottom: 0; }

.single-product .product-rating {
  float: right;
  position: relative;
  top: 9px; }

.single-product .product-image,
.single-product .product-image img {
  height: auto; }

.shop-quick-view-ajax,
.portfolio-ajax-modal {
  position: relative;
  background-color: white;
  width: 800px;
  margin: 0 auto; }
  .dark .shop-quick-view-ajax, .dark
  .portfolio-ajax-modal {
    background-color: #383838; }
  @media (max-width: 991.98px) {
    .shop-quick-view-ajax,
    .portfolio-ajax-modal {
      width: 90% !important; } }

.quantity {
  float: left;
  margin-right: 30px; }
  @media (max-width: 767.98px) {
    .quantity {
      display: block; } }
  .quantity .qty {
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background-color: #eeeeee;
    text-align: center;
    margin-bottom: 0; }
    .dark .quantity .qty {
      border-left-color: rgba(255, 255, 255, 0.08);
      border-right-color: rgba(255, 255, 255, 0.08);
      background-color: rgba(0, 0, 0, 0.2); }
    @media (max-width: 767.98px) {
      .quantity .qty {
        border: 0;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd; } }
  .quantity .plus,
  .quantity .minus {
    display: block;
    float: left;
    cursor: pointer;
    border: 0px transparent;
    padding: 0;
    width: 36px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eeeeee;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s linear; }
    .dark .quantity .plus, .dark
    .quantity .minus {
      background-color: rgba(0, 0, 0, 0.2); }
    @media (prefers-reduced-motion: reduce) {
      .quantity .plus,
      .quantity .minus {
        transition: none; } }
    .quantity .plus :hover,
    .quantity .minus :hover {
      background-color: #dddddd; }
      .dark .quantity .plus :hover, .dark
      .quantity .minus :hover {
        background-color: rgba(0, 0, 0, 0.4); }
  .dark .quantity .qty, .dark
  .quantity .plus, .dark
  .quantity .minus {
    color: #eeeeee; }
  @media (max-width: 767.98px) {
    .quantity .qty,
    .quantity .plus,
    .quantity .minus {
      float: none;
      width: 100%; } }
  .quantity .qty :focus,
  .quantity .plus :focus,
  .quantity .minus :focus {
    box-shadow: none !important;
    outline: 0 !important; }

.single-product .add-to-cart.button {
  height: 40px;
  line-height: 40px; }

.single-product .feature-box.fbox-plain.fbox-small {
  padding-left: 26px; }
  .single-product .feature-box.fbox-plain.fbox-small .fbox-icon {
    width: 20px; }
    .single-product .feature-box.fbox-plain.fbox-small .fbox-icon i {
      font-size: 18px; }
  .single-product .feature-box.fbox-plain.fbox-small h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 7px; }
  .single-product .feature-box.fbox-plain.fbox-small p {
    margin-left: -26px; }

.product-meta {
  font-size: 13px;
  color: #777; }
  .dark .product-meta {
    color: #888888; }
  .product-meta > .panel-body {
    margin-bottom: -5px; }
    .product-meta > .panel-body > span {
      display: block;
      margin-bottom: 5px; }

/* Individual Product
-----------------------------------------------------------------*/
.product.iproduct {
  float: none;
  margin: 0;
  width: 100%; }

.product .product-image,
.product .product-image a,
.product .product-image img {
  height: auto; }

/* ----------------------------------------------------------------
	Cart
-----------------------------------------------------------------*/
.cart .remove {
  font-size: 14px;
  color: #dc3545; }
  .dark .cart .remove {
    padding: 8px 10px;
    background: rgba(0, 0, 0, 0.2); }
    @media (max-width: 767.98px) {
      .dark .cart .remove {
        background: transparent;
        padding: 0; } }
  .cart .remove:hover {
    color: #000; }
    .dark .cart .remove:hover {
      color: #eeeeee; }

.cart th {
  padding: 12px 15px !important;
  font-size: 14px;
  color: #555; }
  .dark .cart th {
    color: #dddddd; }

.cart td {
  padding: 12px 15px !important;
  vertical-align: middle !important;
  border-color: #e5e5e5 !important; }
  .dark .cart td {
    border-color: rgba(255, 255, 255, 0.08) !important; }

.cart-product-thumbnail a {
  display: block;
  width: 68px; }

.cart-product-thumbnail img {
  display: block;
  width: 64px;
  height: 64px;
  border: 2px solid #eeeeee; }
  .dark .cart-product-thumbnail img {
    border-color: rgba(0, 0, 0, 0.2); }
  .cart-product-thumbnail img:hover {
    border-color: #1ABC9C; }
    .dark .cart-product-thumbnail img:hover {
      border-color: #1ABC9C; }

.cart-product-name a,
.product-name a {
  font-weight: bold;
  font-size: 13px;
  color: #333; }
  .dark .cart-product-name a, .dark
  .product-name a {
    color: #eeeeee; }

.cart-product-name a:hover,
.product-name a:hover {
  color: #666; }
  .dark .cart-product-name a:hover, .dark
  .product-name a:hover {
    color: #bbbbbb; }

.cart-product-price,
.cart-product-quantity,
.cart-product-subtotal {
  text-align: center !important; }

.cart-product-quantity .quantity {
  display: inline-block;
  margin: 0;
  float: none; }

td.actions {
  padding: 20px 15px !important;
  vertical-align: top !important;
  background-color: whitesmoke; }
  .dark td.actions {
    background-color: rgba(0, 0, 0, 0.2); }

.dark .table.cart {
  color: #eeeeee; }
