/*-----------------------------------------------------------------------------------

	Shortcodes: faqs.scss

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Toggle - FAQs
-----------------------------------------------------------------*/
.faqs .toggle {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 12px;
  margin-bottom: 12px; }
  .dark .faqs .toggle {
    border-bottom-color: rgba(255, 255, 255, 0.1); }
  .faqs .toggle .togglet,
  .faqs .toggle .toggleta {
    font-size: 16px; }
  .faqs .toggle .togglec {
    padding-bottom: 10px; }

.faqs i {
  top: 1px;
  font-size: 14px; }

/* FAQ List
-----------------------------------------------------------------*/
.faqlist li {
  margin-bottom: 5px;
  font-size: 16px; }
  .faqlist li a {
    color: #444444; }
    .dark .faqlist li a {
      color: #cccccc; }
    .faqlist li a:hover {
      color: #1ABC9C !important; }
