@charset "UTF-8";
/*-----------------------------------------------------------------------------------

	Shortcodes: toggles-accordions.scss

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------
	Toggle
-----------------------------------------------------------------*/
.toggle {
  display: block;
  position: relative;
  margin: 0 0 20px 0; }
  .toggle .togglet,
  .toggle .toggleta {
    display: block;
    position: relative;
    line-height: 24px;
    padding: 0 0 0 24px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #444444;
    cursor: pointer; }
    .dark .toggle .togglet, .dark
    .toggle .toggleta {
      color: #cccccc; }
  .toggle .togglet i {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    font-family: "font-icons"; }
  .toggle .toggleta {
    font-weight: bold; }
  .toggle .togglet i.toggle-open,
  .toggle .toggleta i.toggle-closed {
    display: none; }
  .toggle .toggleta i.toggle-open {
    display: block;
    color: #444444; }
  .toggle .togglet i.toggle-open::before {
    content: ""; }
  .toggle .togglet i.toggle-closed::before {
    content: ""; }
  .toggle .togglec {
    display: block;
    position: relative;
    padding: 10px 0 0 24px; }

/* Toggle - with Title Background
-----------------------------------------------------------------*/
.toggle.toggle-bg .togglet,
.toggle.toggle-bg .toggleta {
  background-color: #eeeeee;
  line-height: 44px;
  padding: 0 0 0 36px;
  border-radius: 4px; }
  .dark .toggle.toggle-bg .togglet, .dark
  .toggle.toggle-bg .toggleta {
    background-color: rgba(0, 0, 0, 0.2); }

.toggle.toggle-bg .togglet i {
  left: 14px;
  line-height: 44px; }

.toggle.toggle-bg .togglec {
  padding: 12px 0 0 36px; }

/* Toggle - Bordered
-----------------------------------------------------------------*/
.toggle.toggle-border {
  border: 1px solid #cccccc;
  border-radius: 4px; }
  .dark .toggle.toggle-border {
    border-color: rgba(255, 255, 255, 0.15); }
  .toggle.toggle-border .togglet i {
    left: 14px;
    line-height: 44px; }
  .toggle.toggle-border .togglec {
    padding: 0 15px 15px 36px; }
  .toggle.toggle-border .togglet,
  .toggle.toggle-border .toggleta {
    line-height: 44px;
    padding: 0 15px 0 36px; }

/* ----------------------------------------------------------------
	Accordions
-----------------------------------------------------------------*/
.accordion {
  margin-bottom: 20px; }

.acctitle,
.acctitlec {
  display: block;
  position: relative;
  line-height: 24px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  cursor: pointer;
  border-top: 1px dotted #dddddd;
  padding: 10px 0 10px 20px; }
  .dark .acctitle, .dark
  .acctitlec {
    color: #cccccc;
    border-top-color: rgba(255, 255, 255, 0.15); }

.acctitlec {
  cursor: auto; }

.acctitle:first-child {
  border-top: none; }

.acctitle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  color: #444444; }

.acctitle i.acc-open,
.acctitlec i.acc-closed {
  display: none; }

.acctitlec i.acc-open {
  display: block;
  color: #444444; }

.acc_content {
  position: relative;
  padding: 0 0 15px 20px; }

/* Accordion - with Title Background
-----------------------------------------------------------------*/
.accordion.accordion-bg .acctitle,
.accordion.accordion-bg .acctitlec {
  background-color: #eeeeee;
  line-height: 44px;
  padding: 0 0 0 36px;
  margin-bottom: 5px;
  border-top: 0; }
  .dark .accordion.accordion-bg .acctitle, .dark
  .accordion.accordion-bg .acctitlec {
    background-color: rgba(0, 0, 0, 0.2); }

.accordion.accordion-bg .acctitle i {
  left: 14px;
  line-height: 44px; }

.accordion.accordion-bg .acc_content {
  padding: 10px 0 15px 36px; }

/* Accordion - Bordered
-----------------------------------------------------------------*/
.accordion.accordion-border {
  border: 1px solid #dddddd;
  border-radius: 4px; }
  .dark .accordion.accordion-border {
    border-color: rgba(255, 255, 255, 0.1); }
  .accordion.accordion-border .acctitle,
  .accordion.accordion-border .acctitlec {
    border-color: #cccccc;
    line-height: 44px;
    padding: 0 15px 0 36px; }
    .dark .accordion.accordion-border .acctitle, .dark
    .accordion.accordion-border .acctitlec {
      border-color: rgba(255, 255, 255, 0.15); }
  .accordion.accordion-border .acctitle i {
    left: 14px;
    line-height: 44px; }
  .accordion.accordion-border .acc_content {
    padding: 0 15px 15px 15px 15px 36px; }

/* Accordion - Large
-----------------------------------------------------------------*/
.accordion.accordion-lg .acctitle {
  font-size: 23px;
  line-height: 43.93px;
  padding-left: 30px;
  font-weight: 400; }
  .accordion.accordion-lg .acctitle i {
    width: 23px;
    font-size: 23px;
    line-height: 64px; }

.accordion.accordion-lg .acc_content {
  padding: 10px 0 30px 30px; }
